.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-violet{
    background-color: rgb(121, 146, 237);
}
.bg-green{
    background-color: greenyellow;
}