body{
    background-color: rgb(0, 157, 255);
}
#mainBox{
    border: 0px solid ;
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
    margin: auto;
    border-radius: 5px;

}
#details{
    text-align: center;
    padding: 10px;
}

