#d1{
    border: 5px solid ;
    width: 300px;
    height: 100px;
    font-size: 50px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(150, 242, 138);
   
    
}
#d1 span{
         background:linear-gradient(90deg,red,blue,black);
         background-clip: text;
         color: transparent;
         -webkit-text-stroke: 0.5px red;

        

     }
#d2{
    border: 5px solid ;
    border-radius: 20%;
    width: 300px;
    height: 100px;
    font-size: 50px;
    background-color: rgb(194, 59, 197);
    padding: 80px;
    margin: 0 0 0 50px;
    padding: 10px 20px 30px 40px ;
    box-shadow: 5px 5px 10px 10px rgb(88, 67, 67);


}