#mainDiv{
    background-color: aqua;
    border: 1px solid black;
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    
}
.subdiv{
 background-color: purple;
 border: 1px solid #000;
 width: 40px;
 height: 40px;

}
#bigDaddy{
    border: 1px solid black;
    width: 700px;
    height: 700px;
    background-color: aqua;
}